.reading-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--card);
  color: var(--card-foreground);
  margin: 0 auto;
  padding: 2rem 1.5rem;
  border-radius: 0.125rem;

  h3 {
    color: whitesmoke;
  }
}

.button-back {
  width: max-content;
  color: var(--foreground);
  border-radius: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.6s ease;

  &:hover {
    color: white;
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--shadow-md);
    color: white;
    background-color: color-mix(in srgb, var(--primary), transparent 90%);
  }
}

.reading-item-info {
  display: grid;
  gap: 0.5rem;
  text-align: center;

  h1 {
    color: white;
    font-size: 32px;
  }

  p {
    max-width: 600px;
    margin: 0 auto;
    color: var(--muted-foreground);
    line-height: 1.5;
  }
}

.reading-item-structure,
.reading-item-usage,
.reading-item-examples {
  display: grid;
  gap: 1rem;
}

.reading-item-structure-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1rem;

  article {
    flex: 1 0 30%;
    max-width: calc(33% - 0.46rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--muted);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    box-shadow: var(--shadow);

    .reading-item-structure-key {
      background-color: var(--secondary);
      color: black;
      font-weight: bold;
      border-radius: 5px;
      padding: 0.5rem;
    }

    h4 {
      color: white;
    }
  }
}

.reading-item-usage-items {
  display: grid;
  gap: 1rem;

  article {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--muted);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: var(--shadow);

    .reading-item-usage-badge {
      flex: 0 0 auto;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--secondary);
      color: black;
      border-radius: 50%;
    }
  }
}

.reading-item-examples-items {
  display: grid;
  gap: 1rem;

  article {
    display: grid;
    align-items: center;
    gap: 1rem;
    background-color: var(--muted);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: var(--shadow);

    div {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .reading-item-example-badge {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.125rem 0.625rem;
      color: black;
      border: 1px solid black;
      border-radius: calc(infinity * 1px);
    }

    #reading-item-example-en {
      background-color: var(--ring);
    }

    #reading-item-example-pt {
      background-color: var(--primary);
    }
  }
}

@media only screen and (max-width: 600px) {
  .reading-item {
    padding: 1.5rem 1rem;
  }

  .reading-item-info {
    h1 {
      font-size: 26px;
    }
  }

  .reading-item-structure-items {
    article {
      flex: 1 0 48%;
      max-width: 100%;

      .reading-item-structure-key {
        font-size: 14px;
      }
    }
  }

  .reading-item-usage-items {
    article {
      flex-direction: column;
      text-align: center;
    }
  }
}
